policy_module(cod4d, 1.0)

########################################
#
# Declarations
#

#permissive cod4d_t;

type cod4d_t;
type cod4d_exec_t;
init_daemon_domain(cod4d_t, cod4d_exec_t)

type cod4d_home_t;
userdom_user_home_content(cod4d_home_t)
files_type(cod4d_home_t)

type cod4d_unit_file_t;
systemd_unit_file(cod4d_unit_file_t)

type cod4d_port_t;
corenet_port(cod4d_port_t)

########################################
##
## Local policy
##

allow cod4d_t self:process { execmem execstack };
allow cod4d_t self:udp_socket { bind connect create getattr setopt };
allow cod4d_t cod4d_port_t:udp_socket name_bind;

manage_files_pattern(cod4d_t, cod4d_home_t, cod4d_home_t)
manage_dirs_pattern(cod4d_t, cod4d_home_t, cod4d_home_t)
exec_files_pattern(cod4d_t, cod4d_home_t, cod4d_home_t)

userdom_user_home_dir_filetrans(cod4d_t, cod4d_home_t, { file dir })


dev_list_sysfs(cod4d_t)

corenet_udp_bind_generic_node(cod4d_t)

auth_read_passwd(cod4d_t)

sysnet_read_config(cod4d_t)
sysnet_dns_name_resolve(cod4d_t)

userdom_manage_user_home_content_dirs(cod4d_t)
userdom_manage_user_home_content_files(cod4d_t)
